@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Added for Navbar */
  --color-primary: #ee862b;
  --color-background-light: #f8f7f6;
  --color-background-dark: #221810;
  --color-surface-dark: #1a1614;
  --font-display: var(--font-manrope);

  /* Added for Hero Section */
  --color-hero-bg: #121212;
  --color-hero-neutral: #1c1c1c;
  --color-hero-accent: #393028;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom scrollbar for webkit browsers */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #221810;
}

::-webkit-scrollbar-thumb {
  background: #33261d;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #443328;
}